/* Add CSS Styling */

.odd {
    background-color: #FCB0AC;
    font-family: Verdana, "Deja Vu", sans-serif;
}

#second {
    color: #0037FF;
    font-size: 36px;
}

.font-size {
    font-size: 24px;
}

#fourth {
    background-color: #78FF00;
    font-weight: bold;
}