/* Add CSS Styling */

.inverted {
    background-color: black;
    color: white
}

.fancy {
    background-color: rgb(255, 239, 0);
}

.inverted,
.fancy {
    font-size: 28px;
    font-family: Helvetica, "Times New Roman", sans-serif;
}