body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Done */
.para,
.small-para {
  color: hsl(0, 0%, 0%);
  font-weight: 800;
}

/* Done */
.para {
  font-size: 22px;
}

/* Done */
.small-para {
  font-size: 14px;
  font-weight: 800;
}

/* Done */
#confirm-button {
  background: green;
  color: white;
  font-weight: bold;
} 
/* Done */
.button {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-size: 20px;
}

/* Done */
.text .child {
  color: rgb(0, 0, 0);
  font-weight: 800;
  font-size: 14px;
}

/* Done */
.text {
  color: rgb(0, 0, 0);
  font-size: 22px;
  font-weight: 100;
}
